<!-- views/partials/navbar.ejs -->
<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right non_mobile_nav">            
			<% nav_menu.forEach((menu) => { %>
						<li role="presentation" class="menu_item"><a class="home_nav_link" href="<%= menu.url %>"><%= menu.name %></a></li>
			<% }) %>
        </ul>
		
        <h3 class="text-muted page_nave_title"><a class="site_title" href="/">Institute Assist Website</a></h3>

    </nav>
</div>
<script> 
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
  }
  
  function setCookie(cname, cvalue, exsecs) {
    var d = new Date();
    d.setTime(d.getTime() + (exsecs*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
</script>