		
        <div class="page_header_container">
            <h1><%= title %></h1>
            <p class="lead">With this page you can add preliminary database content.</p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
									  
					<form method="post" action="" class="col-md-6" id="add_project_form"> 
						<fieldset>

							<legend>Add Project</legend>

							<div class="form-group">
								<label for="TestType">Fill required data, fields with asterics are obligatory.</label>
								<br>
								<div> 
									<label class="field_label">Project Name*</label>
									<input type="text" name="projectName" id="projectName" value="" >
									<br>
									<label class="field_label">Owner Name*</label>
									<input type="text" name="ownerName" id="ownerName" value="" >
									<br>
									<label class="field_label">Description</label>
									<input type="text" name="description" id="description" value="" >
									<br>
									<label class="field_label">Logo Link</label>
									<input type="text" name="projectLogo" id="projectLogo" value="" >
									
									<input type="hidden" name="rtype" value="project">
									<input type="hidden" name="deviceId" value="unk">
								</div>
							</div>
						</fieldset>
						<input type='submit' class="btn" id='submit' value='Add Project'/>
					</form>
					
					
					<form method="post" action="" class="col-md-6" id="add_user_form"> 
						<fieldset>

							<legend>Add User</legend>

							<div class="form-group">
								<label for="TestType">Fill required data, fields with asterics are obligatory.</label>
								<br>
								<div> 
									<label class="field_label">User Name*</label>
									<input type="text" name="userName" id="userName" value="" >
									<br>
									<label class="field_label">Location*</label>
									<input type="text" name="userLocation" id="userLocation" value="" >
									<input type="hidden" name="rtype" value="user">
									<input type="hidden" name="deviceId" value="unk">
								</div>
							</div>
						</fieldset>
						<input type='submit' class="btn" id='submit' value='Add User'/>
					</form>					
					
					
					<form method="post" action="" class="col-md-6" id="add_transfer_form"> 
						<fieldset>

							<legend>Add Transfer</legend>

							<div class="form-group">
								<label for="TestType">Fill required data, fields with asterics are obligatory.</label>
								<br>
								<div> 
									<label class="field_label">Describe the transfer*</label>
									<input type="text" name="description" id="description" value="" >
									<br>
									<label class="field_label">Transfer Type*</label>
									<select name="type">
										<option value="outcome">Outcome</option>
										<option value="income">Income</option>
									</select>
									<br>

									<label class="field_label">Target*</label>
									<select name="projectId">
									<% if (typeof projects != "undefined") { %>
										<% for (var i = 0; i < projects.length; i++) { %>
										<option value="<%= projects[i]._id %>"><%= projects[i].projectName %></option>
										<% } %>
									<% } %>
									</select>
									<br>									
									
									<label class="field_label">User Performing Action</label>
									<select name="performerId">
									<option value="">Unknown</option>
									<% if (typeof users != "undefined") { %>
										<% for (var i = 0; i < users.length; i++) { %>
										<option value="<%= users[i]._id %>"><%= users[i].userName %></option>
										<% } %>
									<% } %>
									</select>
									<br>	
									
									<label class="field_label">Sum*</label>
									<input type="text" name="sum" id="sum" value="" >
									
									<input type="hidden" name="rtype" value="transfer">
									<input type="hidden" name="deviceId" value="unk">
								</div>
							</div>
						</fieldset>
						<input type='submit' class="btn" id='submit' value='Add Transfer'/>
					</form>						
					
					

                </div>
            </div>
        </div>

