<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" dir="rtl" lang="ar" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" dir="rtl" lang="ar" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" dir="rtl" lang="ar" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" dir="rtl" lang="ar" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 

<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
	<meta name="google-site-verification" content="-ICBASVhFyhyiYqadks2i5f6Ux5rjtnGegBvHTOtGSA" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=YES">
	<link rel="shortcut icon" href="/favicon.ico" />

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

    <title>Institute Assist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/safe_tv.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="/js/form-validation.js"></script>
	
</head>

<body>
	<div class="container">
        <%- include('partials/navbar') %>
		<% if(typeof notice != "undefined") { %>
		<div style="margin-top:10px;" class="alert alert-<% if(typeof notice_type != "undefined") { %><%= notice_type %><% } else{ %>success<% } %>">
		  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		  <%- notice %>
		</div>
		<% } %>
	
		<div class="content_holder">
		<% if(typeof show_sidebar != "undefined") { %>
			<div class="sidebar">
			</div>
		<% } %>	
		<% if(typeof show_sidebar != "undefined") { %>
			<div class="main_content">
		<% }else{ %>
			<div class="main_content" style="width:100%;">
		<% } %>
		<%- body %>
		</div>

		</div>

	    <%- include('partials/footer') %>

    </div>
</body>
<script>

$(document).ready(function(){
	if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
	 $("#dl_app_alert").css("display","block");
	 $(".only_web").css("display","none"); 
	 $(".question_input").attr("cols","30"); 
	}
	if( /ios_app/i.test(navigator.userAgent) ) {
	 $("#dl_app_alert").css("display","none");
	 $(".only_web").css("display","none"); 
	 $(".question_input").attr("cols","30");
	 $(".no_ios_app").css("display","none"); 
	}
});



</script>
</html>
