		<style>
@media screen and (max-width: 1060px) {
			td:nth-of-type(1):before { content: "Video Link"; }
			td:nth-of-type(2):before { content: "Device Id"; }
			td:nth-of-type(3):before { content: "Error Text"; }
			td:nth-of-type(4):before { content: "Create Date"; }
			td:nth-of-type(5):before { content: "Actions"; }
}			
		</style>
        <div class="page_header_container">
            <h1><%= title %></h1>
            <p class="lead">Videos that were reported automaticaly by the app not working! examine them again and make sure they are not playable in app aswell. (sometimes link works for website but not the app.)</p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                  <!-- loop over blog posts and render them -->

                    <table class="table table-bordered" style="width:100%">
                       <tr>
                          <th>Video Link</th>
                          <th>Device Id</th>  
						  <th>Error Text</th>
                          <th>Create Date</th>
						  <th>Actions</th>
                       </tr>

                       <% for (var i = 0; i < reports.length;i++) { %>
                        <tr>

                          <td><a target="_blank" href ="https://www.awlad.tv/video/<%= reports[i].videoId %>"><%= reports[i].videoId %></a></td>

                          <td><%= reports[i].deviceId %></td>

                          <td><%= reports[i].errorText %></td>

                          <td><%= reports[i].createDate %></td>
						  
                          <td>
							  <form method="post" action="" >
								  <input type="hidden" name="action" value="1">
								  <input type="hidden" name="id" value="<%= reports[i]._id %>">
								  <input type="hidden" name="videoId" value="<%= reports[i].videoId %>">
								  <input type="hidden" name="deviceId" value="<%= fb_id %>">
								  <input type="submit" class="btn" name="submition" value="Delete Video">
							  </form>
							  <form method="post" action="" >
								  <input type="hidden" name="action" value="2">
								  <input type="hidden" name="id" value="<%= reports[i]._id %>">
								  <input type="hidden" name="videoId" value="<%= reports[i].videoId %>">
								  <input type="hidden" name="deviceId" value="<%= fb_id %>">
								  <input type="submit" class="btn" name="submition" value="Ignore Report">
							  </form>
						  </td>
						  
                        </tr>
                       <% } %>
                    </table>
                </div>
            </div>
        </div>

