        <div class="page_header_container under_header">
            <h1><%= title %></h1>
            <p class="lead">Pie Chart Summary for <%= project.projectName %> Project.
				<br>
				<% if (filters != undefined){ %>
					The current Chart is filtered by the following:<br>
					<% for (var key in filters) { %>
						<% if (key != "submition"){ %>
						<label><%= key %>: </label> <%= filters[key] %><br>
						<% } %>
					<% } %>
				<% } %>
				
				<% if (transfers != undefined && transfers.length>0){ %>
				<br> <label>With the above filter, there are <%= transfers.length %> transactions.</label>
				<% } %>
				<br> <label>Total Sum For all transactions for this filter is <%= total %> Shekel.</label>
			</p>
        </div>
		<% if (nextStage != undefined && nextStage.length>0){ %>
		<div id="chartContainer" style="height: 600px; width: 100%;">
		<% } else {%>
			No more attributes that those transfers can be compared with.
		<% } %>
		</div>
		<div id="pieSpecific" style="display:none;">
			<div class="panel panel-primary">
				<div id="pieSpecificData" class="panel-body">
			
				</div>
			</div>
		</div>

		<div>
		<% if (nextStage != undefined && nextStage.length>0){ %>
		<label>Filter Results by</label><br>
		<% } %>
		<ul class="taglist" id="taglist" >
		<% if (nextStage != undefined){ %>
			<% for (var i = 0; i < nextStage.length;i++) { %>
			<li class="tag">
			<form style="padding-right: 40px;" method="POST" action="/project/cascade/<%= project._id %>" >	
				<% for (var key in quey_data) { %>
					<input type="hidden" name="<%= key %>" value="<%= quey_data[key] %>">
				<% } %>
				
				<input type="hidden" name="<%= nextStage[i].fieldName %>" value="<%= nextStage[i].field.field %>">
				<input type="hidden" name="pie_sum" value="<%= JSON.stringify(nextStage[i].field.sum) %>">
				<input type="submit" class="web_button" name="submition" value="<%= nextStage[i].fieldNameDesc %>: <%= nextStage[i].fieldDesc %>">
			</form>
			</li>
			<% } %>
		<% } %>
		</ul>
		</div>
		
		<br>
		<p style="clear: both;">
			<form method="POST" action="/project/cascade/<%= project._id %>" >	
				<% for (var key in quey_data) { %>
					<% if (query_length-1>backCount) { %>
					<% backCount = backCount +1; %>
					<input type="hidden" name="<%= key %>" value="<%= quey_data[key] %>">
					<% } %>
				<% } %>
				<input type="submit" class="web_button" name="submition" value="Back">
			</form>
		</p>
		<script src="/js/canvasjs.min.js"></script>
		<script>

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2",
	animationEnabled: true,
	title: {
		text: "<%= project.projectName %> <%= ttype %> Chart"
	},
	subtitles: [{
		text: "Year <%= year %>",
		fontSize: 16
	}],
	data: [{
		type: "pie",
		indexLabelFontSize: 18,
		radius: 80,
		indexLabel: "{label} - #percent %",
		toolTipContent: "{y} - #percent %",
		yValueFormatString: "# <%= unit %>",
		click: explodePie,
		dataPoints: [
		<% if (nextStage != undefined){ %>
			<% for (var i = 0; i < nextStage.length;i++) { %>
			
			{ y: <%= nextStage[i].field.sum %>, label: "<%= nextStage[i].fieldDesc %>",fieldName: "<%= nextStage[i].fieldName %>", field :"<%= nextStage[i].field.field %>"},
			
			<% } %>
		<% } %>
		
		
		
		
		
		]
	}]
});

function explodePie(e) {
	/*
	var itemData = {};
	$("#pieSpecific").css("display","none");
	$("#pieSpecificData").empty();
	for(var i = 0; i < e.dataSeries.dataPoints.length; i++) {
		if(i !== e.dataPointIndex){
			e.dataSeries.dataPoints[i].exploded = false;
		}else{
			itemData = e.dataSeries.dataPoints[i];
			$("#pieSpecific").css("display","block");
			$("#pieSpecificData").append('<label class="field_label">Description: </label>' + itemData.label + '<br>');
			$("#pieSpecificData").append('<label class="field_label">Sum: </label>' + itemData.y + '<br>');
			if (itemData.performerId != undefined){
				$("#pieSpecificData").append('<label class="field_label">Actor: </label>' + itemData.performerId + '<br>');
			}
			if (itemData.createDate != undefined){
				$("#pieSpecificData").append('<label class="field_label">Create Date: </label>' + itemData.createDate + '<br>');
			}
			if (itemData.queryLink != undefined){
				var linkAdd = "";
				switch (itemData.queryLink){
					case "incomeByLoc": {
						linkAdd = "/project/income/";
					}
				}
				$("#pieSpecificData").append('<label class="field_label">For More Details: </label><a href="' + linkAdd + '<%= project._id %>/?filterLoc=' + itemData.label + '">Click Here</a>');
			}
		}
	}
	*/

    var form = document.createElement('form');
    form.method = "POST";
    form.action = "/project/cascade/<%= project._id %>";
	
	var input;
	<% for (var key in quey_data) { %>
		input = document.createElement("input");
		input.setAttribute("type", "hidden");
		input.setAttribute("name", "<%= key %>");
		input.setAttribute("value", "<%= quey_data[key] %>");
		form.appendChild(input);
	<% } %>
	var itemData = e.dataSeries.dataPoints[e.dataPointIndex];
	input = document.createElement("input");
	input.setAttribute("type", "hidden");
	input.setAttribute("name", itemData.fieldName);
	input.setAttribute("value", itemData.field);
	form.appendChild(input);
	document.body.appendChild(form);
    form.submit();

	
	
}
 
$(document).ready(function() {
	chart.render();
});
</script>
