        <div class="page_header_container under_header">
            <h1><%= title %></h1>
            <p class="lead">Information about the project.</p>
        </div>
		<label class="field_label">Project Name: </label><%= project.projectName %><br>
		<label class="field_label">Project Description: </label><%= project.description %><br>
		<label class="field_label">Project Create date: </label><%= project.createDate %><br>
		<label class="field_label">Project projectLogo: </label><img src="<%= project.projectLogo %>"></img><br>
		<label class="field_label">Project Owner: </label><%= project.ownerName %><br>
		<div class="graph_button">
		<% if (nextStage != undefined){ %>
			<% for (var i = 0; i < nextStage.length;i++) { %>
			<form style="padding-right: 40px;" method="POST" action="/project/cascade/<%= project._id %>" >		
				<input type="hidden" name="<%= nextStage[i].fieldName %>" value="<%= nextStage[i].field.field %>">
				<input type="submit" class="web_button" name="submition" value="To <%= nextStage[i].fieldDesc %> Graph Page">
			</form>
			<% } %>
		<% } %>
		

		
		
		</div>
		<br><br><br>

		
		<script>
		$(document).ready(function(){
		  $("#myInput").on("keyup", function() {
			var value = $(this).val();
			$("#taglist li").filter(function() {
				var id = $(this)[0].id;
				if (id != "th_tr"){
					var isSimilar = (id.indexOf(value) > -1);
					if(isSimilar){
						$(this).css("display","block");
					}else{
						$(this).css("display","none");
					}
				}
			});
		  });
		});
		</script>