		<style>
@media screen and (max-width: 1060px) {
			td:nth-of-type(1):before { content: "Project Name"; }
			td:nth-of-type(2):before { content: "Description"; }
			td:nth-of-type(3):before { content: "Logo"; }
			td:nth-of-type(4):before { content: "Create Date"; }
			td:nth-of-type(5):before { content: "Actions"; }
}			
		</style>
        <div class="page_header_container under_header">
            <h1>Home Page</h1>
            <p class="lead">List of all Projects are in this website.</p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                  <!-- loop over blog posts and render them -->

                    <table class="table table-bordered" style="width:100%">
                       <tr>
                          <th>Project Name</th>
                          <th>Description</th>  
						  <th>Logo</th>
                          <th>Create Date</th>
						  <th>Actions</th>
                       </tr>

                       <% for (var i = 0; i < projects.length; i++) { %>
                        <tr>

                          <td><%= projects[i].projectName %></td>

                          <td><%= projects[i].description %></td>

                          <td align="center">
								<% if (projects[i].projectLogo != "") { %>
									<img height="80" width="80" alt="<%= projects[i].projectName %>" src="<%= projects[i].projectLogo %>"></img>
								<% } else{ %> No logo <% } %>
						  </td>

                          <td><%= projects[i].createDate %></td>
						  
                          <td align="center">
							  <form method="GET" action="/project/<%= projects[i]._id %>" >
								  <input type="submit" class="web_button" name="submition" value="To Project Page">
							  </form>
						  </td>
						  
                        </tr>
                       <% } %>
                    </table>
                </div>
            </div>
        </div>




