		 @font-face {
			font-family: 'TheSansArabic-SemiBold';
			src: url('../myfonts/TheSansArabic-SemiBold.eot');
			src: local('☺'), url('./TheSansArabic-SemiBold.woff') format('woff'), url('./TheSansArabic-SemiBold.ttf') format('truetype'), url('./TheSansArabic-SemiBold.svg') format('svg');
			font-weight: normal;
			font-style: normal;
		}
		.close_left {
			float: left;
			font-size: 21px;
			font-weight: 700;
			line-height: 1;
			color: #000;
			text-shadow: 0 1px 0 #fff;
			filter: alpha(opacity=20);
			opacity: .2;
		}
		.video_desc{
			clear: both;
			display: block;
			text-align: center;
		}
		
		.question_input {
			display: block;
			margin-bottom: 6px;
			padding-right: 4px;
			border: 1px solid transparent;
			border-radius: 4px;
		}
		
		
		.question_iframe {
			position: fixed;
			right: 10px;
			z-index: 1000;
			bottom: 10px;
			width: 200px;
			height: 100px;
			cursor: default;
			transition: all 0.5s ease 0.35s;
		}
		
		
		.question_iframe:hover, .question_iframe:focus, .question_iframe:focus-within {
			position: fixed;
			right: 10px;
			z-index: 1000;
			bottom: 10px;
			width: 450px;
			height: 230px;
			cursor: default;
			transition: all 0.5s ease 0.35s;
		}
		

		.question_iframe div form input,.question_iframe div form textarea {	
			display:inline;
			width: 0px;
			transform:scaleY(0); 
			transform:scaleX(0); 
			height: 0px;
			opacity: 0.0;
			transition: all 1s ease-in-out;
		}
		
		.question_iframe:hover div form input, .question_iframe:focus-within div form input ,.question_iframe:hover div form textarea, .question_iframe:focus-within div form textarea{
			display:block;
			width: auto;
			transform:scaleY(1); 
			transform:scaleX(1); 
			height: auto;
			opacity: 1.0;
			transition: all 1s ease-in-out;
		}
		.taglist{
			height: 100%;
			align-items: center;
			vertical-align: top; /* NEW */
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.tag{
			float: left;
		}
		body {
            padding-top: 20px;
            padding-bottom: 20px;
			font-family: "Roboto","TheSansArabic-SemiBold";
			background: url('//images.matlob.co.il/safe_videos_content/site-bg.jpg');
			background-repeat: no-repeat;
			background-size: cover;
        }
		.content{
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
			padding-left: 20px;
			padding-right: 20px;
			
		}
		.sidebar_li {
			width: 45%;
			float: right;
			text-align: right;
			margin: 0;
			padding: 5px 5% 5px 0;
			font-size: 13px;
			background: url(//images.matlob.co.il/wp-content/uploads/static/images/arrow-sm.png) no-repeat scroll right center transparent;
			display: block;
			line-height: 1.6em;
			text-align: right;
			list-style: none outside !important;

		}
		.sidebar_li:not(:last-child) {
			border-bottom: 1px dotted #d8d8d8;
		}
		
		.sidebar_widget{
			clear:both;
			margin-top: 10px;
		}

		.list-group-item-author {
			margin-bottom: 0;
			font-size : 10px;
			line-height: 1.3;
		}
		
		.max_text_desc{
			overflow: hidden;
			text-overflow: ellipsis;
			max-height: 25ch;
			-webkit-line-clamp: 3;
		}
		
		.view_more_post{
			margin-top: 20px;
			/* font-size: medium; */
			font-weight: bolder;
			color: #337ab7;
		}
		
		.articles_title{
			margin-top: 24px;
			font-size: 24px;
		}
		
		
		a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
			color: #337ab7;
			font-weight: bold;
		}
		
		
		.sidebar_widget_title{
			margin-bottom: 0;
			background: url(//images.matlob.co.il/safe_videos_content/jumpon.jpg);
			opacity: 0.8;
			box-shadow: 1px 1px 0px 0px #00000038;
			padding: 7px 10px 6px;
			text-align: right;
			border-bottom: 1px solid rgba(37, 79, 131, 0.17);
			color: #254F83;
			margin-bottom: 2px;
		}
		.content_holder{

		}
		
		.container {
			padding-right: 45px;
			padding-left: 45px;
			margin-right: auto;
			margin-left: auto;
			width:auto !important;
		}
		

		.main_content{
			width:auto;
			overflow: hidden;
		}
		.sidebar{
			width:30%;
			min-width:300px;
			float:left;
			border-right: 1px solid #eee;
			padding-right: 10px;
		}		
		.title{
		    color: #254F83;
			text-align: center;
		}
		.page_nave_title{
			border-radius: 3px;
			padding: 6px 10px;
			color: white;
			width: 400px;
			margin-left: 10px;
		}
		.header{
			border-radius: 6px 6px 0 0;
			background-image:url('/helping_hands.jpg');
			background-repeat:no-repeat;
			background-size:100% 120px;
			height: 120px;
			display: block;
			padding-top:1px;
		}
		
		.under_header{
			background-color: #eeec; !important;
		}
		.page_header_container {
			padding-top: 2px;
			padding-bottom: 2px;
			background: url(//images.matlob.co.il/safe_videos_content/jumpon.jpg);
			opacity: 0.8;
			padding-right: 15px;
			padding-left: 15px;
			margin-bottom: 6px;
			box-shadow: 1px 1px 0px 0px #00000038;
		}
		
		.nav>li>a:focus, .nav>li>a:hover {
			text-decoration: none;
			background-color: #fff8;
			transition: background-color 300ms ease-out;
			-webkit-transition: background-color 300ms ease-out;
			-moz-transition: background-color 300ms ease-out;
			-ms-transition: background-color 300ms ease-out;
			-o-transition: background-color 300ms ease-out;
		}
		
		.nav-pills>li>a {
			border-radius: 4px;
			margin-right: 6px;
		}
		
		.field_label {
			width:200px;
		}
		.home_nav_link{
			color: white;
		}
		.graph_button{
			display:inline-flex;
		}
		
		.error {
			color: red;
			padding-left: 1px;
		}
		.fb_box{
			font-size: large;
		}
		
		.fb_login_status{
			padding-right: 10px;
		    margin-top: 8px;
			background-color: #fff9;
		}
		.fb_login_button{
			margin-left: 10px;
		    margin-bottom: 2px;
		}		
		.menu_item{
			font-weight: bold;
		}
		.btn {
			display: inline-block;
			cursor: pointer;
			font-size: 13px;
			outline: 0;
			border: 1px;
			background: #254F83;
			color: #fff;
			padding: 8px 10px;
			border-radius: 8px;
			vertical-align: middle;
			text-decoration: none !important;
			-webkit-appearance: none;
			transition: background-color 300ms ease-out;
			-webkit-transition: background-color 300ms ease-out;
			-moz-transition: background-color 300ms ease-out;
			-ms-transition: background-color 300ms ease-out;
			-o-transition: background-color 300ms ease-out;
		}
		.btn:hover {			
			background: #396AB2;
			color: #fff;
		}
		
		
		
		.web_button {
			display: inline-block;
			cursor: pointer;
			font-size: 13px;
			outline: 0;
			border: 1px;
			background: #254F83;
			color: #fff;
			padding: 8px 10px;
			border-radius: 2px;
			vertical-align: middle;
			text-decoration: none !important;
			-webkit-appearance: none;
			transition: background-color 300ms ease-out;
			-webkit-transition: background-color 300ms ease-out;
			-moz-transition: background-color 300ms ease-out;
			-ms-transition: background-color 300ms ease-out;
			-o-transition: background-color 300ms ease-out;
		}		
		
		.web_button:hover {			
			background: #396AB2;
			color: #fff;
		}
		
		
		
		a{
			transition: background-color 300ms ease-out;
			-webkit-transition: background-color 300ms ease-out;
			-moz-transition: background-color 300ms ease-out;
			-ms-transition: background-color 300ms ease-out;
			-o-transition: background-color 300ms ease-out;			
		}

		.site_title{
			padding : 10px 10px;
			text-decoration: none;
			color:white;
			border-radius: 10px;
			transition: background-color 300ms ease-out;
			-webkit-transition: background-color 300ms ease-out;
			-moz-transition: background-color 300ms ease-out;
			-ms-transition: background-color 300ms ease-out;
			-o-transition: background-color 300ms ease-out;		
		}		
		.site_title:hover{
			text-decoration: none;
			color: #254F83;	
			background-color: #fff4;
			
		}	
		
		.new_link:hover{
			text-decoration: none;
			background-color: rgba(243, 143, 11,1);
		}
		

		.search_bar {
			width: 300px!important;
			max-width: 0px;
			display: inline-block;
			font-size: 13px;
			outline: 0;
			float:left;
			text-align: right;
			border: 1px;
			padding: 8px 0px;
			border-radius: 8px 0 0px 8px;
			vertical-align: middle;
			text-decoration: none !important;
			-webkit-appearance: none;
			transition: all .35s ease-in-out;
			-webkit-transition: all .35s ease-in-out;
			-moz-transition: all .35s ease-in-out;
			-ms-transition: all .35s ease-in-out;
			-o-transition:  all .35s ease-in-out;
		}
		.searchcontainer{
			
			font-size: 0!important; 
			margin-right: 2px;
			box-shadow: 1px 1px 0px 0px #00000038;
			transition: max-width .35s ease-in-out;
			-webkit-transition: max-width .35s ease-in-out;
			-moz-transition: max-width .35s ease-in-out;
			-ms-transition: max-width .35s ease-in-out;
			-o-transition:  max-width .35s ease-in-out;
		}
		
		.searchcontainer:focus-within, .searchcontainer:hover{

			font-size: 0!important; 
			margin-right: 2px;
			box-shadow: 1px 1px 0px 0px #00000038;
			transition: max-width .35s ease-in-out;
			-webkit-transition: max-width .35s ease-in-out;
			-moz-transition: max-width .35s ease-in-out;
			-ms-transition: max-width .35s ease-in-out;
			-o-transition:  max-width .35s ease-in-out;
		}
		
		.searchcontainer:focus-within > form > .search_button {
			border-radius: 0px 5px 5px 0px!important;
			-webkit-transition-property: none;
			-moz-transition-property: none;
			-o-transition-property: none;
			transition-property: none;
		}
		
		.searchcontainer:hover > form > .search_button{
			border-radius: 0px 5px 5px 0px!important;
			-webkit-transition-property: none;
			-moz-transition-property: none;
			-o-transition-property: none;
			transition-property: none;
		}
		
		.searchcontainer:hover > form > .search_bar, .search_bar:focus{
			max-width: 300px!important;
			padding: 8px 10px;
			transition: max-width .35s ease-in-out;
			-webkit-transition: max-width .35s ease-in-out;
			-moz-transition: max-width .35s ease-in-out;
			-ms-transition: max-width .35s ease-in-out;
			-o-transition:  max-width .35s ease-in-out;
		}
		
		
		.search_button {
			border-radius: 5px 5px 5px 5px;
			transition: all 0.5s ease 0.35s;
		}
		

		.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
			cursor: pointer;
			filter: alpha(opacity=100);
			-webkit-box-shadow: none;
			box-shadow: initial;
			opacity: 1;
		}

		.carousel_img{
			width:100%;
			max-height:600px;
			height:auto;
		}
		.nav-tabs>li {
			float: right;
			margin-bottom: -1px;
		}

		.postbox {
			min-width: 150px;
			border: 1px solid #e5e5e5;
			background: #fff;
			margin-bottom : 6px;
			margin-left: auto;
			margin-right: auto;
			width: 150px;
			text-align: center;
		}
		
		.postbox>h3 {
			font-size: 14px;
			padding: 8px 12px;
			margin: 0;
			line-height: 1.4;
			border-bottom: 1px solid #eee;
		}
		
		.rtl{
			direction:rtl;
		}
		.ltr{
			direction:ltr;
		}		
		.list-group-item{
			position: relative;
			display: block;
			padding: 10px 15px;
			margin-bottom: -1px;
			background-color: #fff;
			border: 1px solid #ddd;
			cursor : pointer;
		}
	
		.vid-container {
			margin: auto;
			text-align: center;
			padding: 2px;
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 56%;
		}
		.vid-container iframe {
			  position: absolute;
			  width: 100%;
			  height: 100%;
			  left: 0;
			  top: 0;
			}
	

		.related_carousel{
			margin-top: 30px;
		}
		
		.carousel-inner-multiple > .item.next,
		.carousel-inner-multiple > .item.active.right {
			left: 0;
			-webkit-transform: translate3d(33%, 0, 0);
			-ms-transform: translate3d(33%, 0, 0);
			-o-transform: translate3d(33%, 0, 0);
			transform: translate3d(33%, 0, 0);
		 }
		  
		.carousel-inner-multiple > .item.prev,
		.carousel-inner-multiple > .item.active.left {
		  left: 0;
		  -webkit-transform: translate3d(-33%, 0, 0);
		  -ms-transform: translate3d(-33%, 0, 0);
		  -o-transform: translate3d(-33%, 0, 0);
		  transform: translate3d(-33%, 0, 0);
		}

		.carousel-inner-multiple .active.left { left: -33%; }
		.carousel-inner-multiple .active.right { left: 33%; }
		.carousel-inner-multiple .next        { left:  33%; }
		.carousel-inner-multiple .prev        { left: -33%; }
		.carousel-control.left,.carousel-control.right {background-image:none;}
		
		.image_center {
			margin: 0 auto;
			width:100%;
			object-fit: cover;
		}
		.carousel-inner {
			border-radius: 4px;
			
		}
		
		.third_area{
			    width: 33.33333333%;
				position: relative;
				min-height: 1px;
				padding-right: 15px;
				padding-left: 15px;
				float: left;
		}
		.carousel_mobile_height{
			height:180px;
			overflow:hidden;
		}
		.mobile_nav {
			float: right;
			display: none;
		} 
		.menu_main {
			color: white;
			font-size: 34px;
			background-color: green;
			padding: 4px 8px;
			border-radius: 4px;
			position: fixed;
			right: 17px;
		}
		
		.white_text {
			color: white;
		}
		
		.collapse {
		  height: auto;
		  width: auto;
		}

		.collapse.height {
		  position: relative;
		  height: 0;
		  transform:scaleY(0); 
		  overflow: hidden;
		  -webkit-transition: height 0.35s ease;
		  -moz-transition: height 0.35s ease;
		  -o-transition: height 0.35s ease;
		  transition: height 0.35s ease;
		}

		.collapse.width {
		  position: relative;
		  width: 0;
		  transform:scaleX(0); 
		  overflow: hidden;
		  -webkit-transition: width 0.35s ease;
		  -moz-transition: width 0.35s ease;
		  -o-transition: width 0.35s ease;
		  transition: width 0.35s ease;
		}

		.collapse.in.width {
		  width: auto;
		  transform:scaleX(1); 
		  -webkit-transition: width 0.35s ease;
		  -moz-transition: width 0.35s ease;
		  -o-transition: width 0.35s ease;
		  transition: width 0.35s ease;
		}

		.collapse.in.height {
		  height: auto;
		  transform:scaleY(1); 
		  -webkit-transition: height 0.35s ease;
		  -moz-transition: height 0.35s ease;
		  -o-transition: height 0.35s ease;
		  transition: height 0.35s ease;
		}    
		a:focus, a:hover {
			color: white;
			text-decoration: none;
		}
		.ul .li a:focus, a:hover {
			color: orange;
			text-decoration: none;
		}
		
		
			

/*=Responsive
---------------------------------------------------------------------------------------*/
@media screen and (max-width: 1180px) {
}
@media screen and (max-width: 1060px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 30px; 
		white-space: nowrap;
	}
	
}

@media screen and (max-width: 860px) {
		.carousel-inner {
			border-radius: 4px;
			
		}
		.third_area{
			    width: 50%;
				position: relative;
				min-height: 1px;
				padding-right: 15px;
				padding-left: 15px;
				float: left;
		}
		
		.container {		
			padding-right: 25px;
			padding-left: 25px;
		}

}

@media screen and (max-width: 660px) {
	.content_holder{
		display: flex;
		flex-direction: column-reverse;
	}
	
	.content {
		padding-left: 0px;
		padding-right: 0px;
	}

	.container {		
		padding-right: 15px;
		padding-left: 15px;
	}
	
	.non_mobile_nav {
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		display: none;
	} 
	.mobile_nav {
		padding-right: 6px;
		float: right;
		display: block;
	}  
	#mobile_panel {
		list-style-type: none;
		background-color: green;
		position: absolute;
		right: 52px;
		margin: 0px;
		padding-right: 20px;
		padding-left: 7px;
		text-decoration: none;
		height: 42px;
		line-height: 2;
		border-radius: 5px 0px 0px 5px;
	}
	.main_content{
		width: auto;
		float:none;
	}
	.sidebar{
		width:auto;
		float:none;
		border-left: none;
		padding-left: none;
	}
	.fb_box{
		margin-top: 17px;
	}
	

	.question_iframe, .question_iframe:hover, .question_iframe:focus , .question_iframe:focus-within  {
		position: relative;
		right: auto;
		z-index: 1000;
		bottom: 10px;
		margin-top: 10px;
		width: auto;
		height: 60px;
		overflow-y: hidden;
		cursor: default;
		transition: all 0.5s ease 0.35s;
	}

	.question_iframe:hover, .question_iframe:focus , .question_iframe:focus-within  {
		position: relative;
		right: auto;
		z-index: 1000;
		bottom: 10px;
		margin-top: 10px;
		width: auto;
		height: auto;
		cursor: default;
		transition: all 0.5s ease 0.35s;
	}
		

	.question_iframe div form input,.question_iframe div form textarea, .question_iframe:hover div form input, .question_iframe:focus-within div form input ,.question_iframe:hover div form textarea, .question_iframe:focus-within div form textarea {	
		display:block;
		width: auto;
		height: auto;
		opacity: 1.0;
		transition: all 1s ease-in-out;
	}

	
	
	
	
	
	
	
	
	
}

@media screen and (max-width: 600px) {
	
}

@media screen and (max-width: 480px) {
		.carousel-inner {
			border-radius: 4px;
			
		}
		.fb_box{
			font-size: small;
			margin-top: 17px;
		}
		.graph_button{
			display:inline;
		}
		h4 {
			font-size: 12px;
		}		
		h3 {
			font-size: 14px;
		}
		h2 {
			font-size: 16px;
		}
		h1 {
			font-size: 18px;
		}
		.related_carousel{
			margin-top: 40px;
		}
		
		nav {
			font-size: 10px;
		}
		
		.postbox{
			position: relative;
			top: 0px;
			right: 2px;
			z-index: 10;
		}
		
		.fb_login_status {
			margin-top: 15px;
		}
		.postbox>h3 {
			font-size: 14px;
			padding: 8px 12px;
			margin: 0;
			line-height: 1.4;
			border-bottom: 1px solid #eee;
		}	
		.header {
			padding-top: 0px;
		}
		
		.carousel-inner-multiple > .item.next,
		.carousel-inner-multiple > .item.active.right {
			left: 0;
			-webkit-transform: translate3d(100%, 0, 0);
			-ms-transform: translate3d(100%, 0, 0);
			-o-transform: translate3d(100%, 0, 0);
			transform: translate3d(100%, 0, 0);
		 }
		  
		.carousel-inner-multiple > .item.prev,
		.carousel-inner-multiple > .item.active.left {
		  left: 0;
		  -webkit-transform: translate3d(-100%, 0, 0);
		  -ms-transform: translate3d(-100%, 0, 0);
		  -o-transform: translate3d(-100%, 0, 0);
		  transform: translate3d(-100%, 0, 0);
		}

		.container {
			padding-right: 0px;
			padding-left: 0px;
			margin-right: 8px;
			margin-left: 8px;
		}
		

		
		body {
			padding-top: 0px;
		}

		.third_area{
			    width: 100%;
				position: relative;
				min-height: 1px;
				padding-right: 15px;
				padding-left: 15px;
				float: left;
		}
		
		#player{
			width: 100%!important;
			height: 100%!important;
		}

		.search_bar {
			width: 260px!important;
		}
}

@media screen and (max-width: 400px) {
		.search_bar {
			width: 200px!important;
		}
		.page_nave_title{
			font-size: 16px;
		}
		.tab_nav {
			font-size: 12px;
		}
}		

@media screen and (max-width: 350px) {
	.searchcontainer:hover > form > .search_bar, .search_bar:focus {
		width: 160px!important;
	}
}	



