		
        <div class="page_header_container">
            <h1><%= title %></h1>
            <p class="lead">With this page you can add single videos or whole playlists to app. please make sure the content is suitable for children first.</p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
									  
					<form method="post" action="" class="col-md-6" id="add_playlist_form"> 
						<fieldset>

							<!-- Form Name -->
							<legend>Add PlayList</legend>

							<div class="form-group">
								<label for="TestType">Fill required data, leave empty if not sure about the field.</label>
								<br>
								<div > 
									<label class="field_label">Play List ID*</label>
									<input type="text" name="id" id="playListID" value="" >

									<br>
									<label class="field_label">minAge</label>
									<input type="text" name="minAge" id="minAge" value="" >
									<br>
									<label class="field_label">Category</label>

									  <select name="Category">
										  <option value="Personal">Personal</option>
										  <option value="Music">Music</option>
										  <option value="Documentary">Documentary</option>
										  <option value="Cartoon">Cartoon</option>
										  <option value="Movie">Movie</option>
										  <option value="Story">Story</option>
										  <option value="unCategorized">unCategorized</option>  
									  </select>
									  <br>
									  <label class="field_label">Gender</label>
									  <select name="Gender">
										  <option value="Both">Both</option>
										  <option value="Male">Male</option>
										  <option value="Female">Female</option> 
									  </select>
									<input type="hidden" name="type" value="playlist">
									<input type="hidden" name="deviceId" value="<%= fb_id %>">
								</div>
							</div>
						</fieldset>
						<input type='submit' class="btn" id='submit' value='Submit Playlist'/>
					</form>
					
					<form method="post" action=""  class="col-md-6" id="add_video_form"> 
						<fieldset>

							<!-- Form Name -->
							<legend>Add/Modify Video</legend>

							<div class="form-group">
								<label for="TestType">Fill required data, leave empty if not sure about the field.</label>
								<br>
								<div> 
									<label class="field_label">Video ID*</label>
									<input type="text" name="id" id="playListID" value="" >

									<br>
									<label class="field_label">minAge</label>
									<input type="text" name="minAge" id="minAge" value="" >
									<br>
									<label class="field_label">Category</label>

									  <select name="Category">
										  <option value="Personal">Personal</option>
										  <option value="Music">Music</option>
										  <option value="Documentary">Documentary</option>
										  <option value="Cartoon">Cartoon</option>
										  <option value="Movie">Movie</option>
										  <option value="Story">Story</option>
										  <option value="unCategorized">unCategorized</option>  
									  </select>
									  <br>
									  <label class="field_label">Gender</label>
									  <select name="Gender">
										  <option value="Both">Both</option>
										  <option value="Male">Male</option>
										  <option value="Female">Female</option> 
									  </select>

									<input type="hidden" name="type" value="video">
									<input type="hidden" name="deviceId" value="<%= fb_id %>">
								</div>
							</div>
						</fieldset>
						<input type='submit' class="btn" id='submit' value='Submit Video'/>
					</form>
                </div>
            </div>
        </div>

