		<script src="/js/form-validation.js"></script>
        <div class="content" id="content">
            <h2 class="title"><%= title %></h2>

			<div class="row">
				<div class="col-lg-12">
					<div class="list-group">
					  <!-- loop over blog posts and render them -->
					  <% admin_posts.forEach((post) => { %>
						<a href="/admin/<%= post.route %>" class="list-group-item">
						  <h4 class="list-group-item-heading"><%= post.title %></h4>
						</a>
					  <% }) %>
					</div>
				</div>
			</div>
        </div>
<script>
$(document).ready(function(){
    //$("content").append("Some appended text.");
	//console.log("eureka");
	/*
	$.post("../ajax/admin", function(data, status){
        alert("Data: " + data + "\nStatus: " + status);
    });
	*/
});
</script>

