		<%- joke_widget %>
        <div class="page_header_container under_header">
            <h1>هذه الصفحة ما زالت تحت التطوير</h1>
            <p class="lead">قريبا سيمكنكم مشاهده الفيديوهات هنا</p>
        </div>


		<div class="rtl articles_title" >مقالات</div>
        <div class="row">
            <div class="col-lg-12">
                <div class="list-group rtl">
                  <!-- loop over blog posts and render them -->
                  <% posts.forEach((post) => { %>
                    <a href="/post/<%= post.post_page %>" class="list-group-item">
                      <h4 class="list-group-item-heading"><%= post.post_title %></h4>
					  <% if (post.author && post.author.fb_user){ %>
                      <p class="list-group-item-author"><%= post.author.fb_user %></p>
					  <% } %>
					  <div class="list-group-item-text max_text_desc"><%- post.body %></div>
					  <div class="view_more_post" >للمزيد...</div>
                    </a>
                  <% }) %>
                </div>
            </div>
        </div>
		<% if (isAdmin) { %>
		<div>
			<form action="/create_new_post_page" method="get">
				<input type="submit" class="btn" name="submission" value="Create new Post">
			</form>
					
		</div>
		<% } %>


