
		<script src="/js/form-validation.js"></script>
        <div class="page_header_container">
            <h1><%= title %></h1>
            <p class="lead">With this page you can create new posts.</p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
					<form method="post" action="/posts/add" class="col-md-6" id="add_post_form"> 
						<fieldset>

							<!-- Form Name -->
							<legend>Add/Modify new Post</legend>

							<div class="form-group">
								<label for="TestType">Fill required data, leave empty if not sure about the field.</label>
								<br>
								<div> 
									<label class="field_label">Post Page*</label>
									<input type="text" name="post_page" id="post_page" value="" >
									<br>
									<label class="field_label">Post Title</label>
									<input type="text" name="post_title" id="post_title" value="" >
									<br>
									<label class="field_label">Author</label>
									<input type="text" name="author" id="author" value="<%= fb_id %>" >
									<br>
									<label class="field_label">Content</label>
									<textarea rows="4" cols="50" name="body" id="body"></textarea>
								</div>
							</div>
						</fieldset>
						<input type='submit' class="btn btn-default" id='submit' value='Submit Post'/>
					</form>
                </div>
            </div>
        </div>

