
		<div class="page_header_container">
            <h1>Edit: <%= title %></h1>
            <p class="lead">You can Edit or Delete this post with this page.</p>
        </div>
        <div class="content">
		<% if (isAdmin) { %>
			<div>
				<form action="/request_update_post" method="post">
					<label class="field_label">Post Title</label>
					<input type="text" name="post_title" id="post_title" value="<%= title %>" >
					<br>
					<label class="field_label">Content</label>
					<textarea rows="4" cols="50" name="body" id="body"><%= post_body %></textarea>
					<br>				
					<input type="hidden" name="post_page" value="<%= post_page %>">
					<input type="submit" class="btn" name="submission" value="Modify Post">
					<input type="submit" class="btn" name="submission" value="Delete Post">
				</form>					
			</div>
		</div>
		<% } %>

