<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" dir="rtl" lang="ar" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" dir="rtl" lang="ar" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" dir="rtl" lang="ar" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" dir="rtl" lang="ar" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 

<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
	<meta name="google-site-verification" content="-ICBASVhFyhyiYqadks2i5f6Ux5rjtnGegBvHTOtGSA" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=YES">
	<link rel="shortcut icon" href="/favicon.ico" />

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	
    <% if(typeof youtubeVideoId != "undefined") { %>
		<meta property="og:type" content="video" />
		<meta property="og:title" content="<%= title %>" />
		
		<% if(description == "") { %>
			<meta property="og:description" content="Click to Watch" />
		<% }else{ %>
			<meta property="og:description" content="<%= description %>" />
		<% } %>
		<meta property="og:url" content="https://www.awlad.tv/video/<%= _id %>" />
		<meta property="og:site_name" content="Awlad TV" />
		<meta property="og:image" content="<%= picture_url %>">
		<meta property="og:video" content="https://www.youtube.com/embed/<%= youtubeVideoId %>" />
		<meta property="og:video:secure_url" content="https://www.youtube.com/embed/<%= youtubeVideoId %>" />
		<meta property="og:video:type" content="application/x-shockwave-flash" />
		<meta property="og:video:width" content="398">
		<meta property="og:video:height" content="224">	
		<meta property="al:android:url" content="https://www.awlad.tv/video/<%= _id %>" />
	<% }else{ %>
		<meta name="description" content="The best Kids Tv App."/>
		<link rel="canonical" href="https://www.awlad.tv/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Awlad TV | تلفزيون الاطفال" />
		<meta property="og:url" content="https://www.awlad.tv/" />
		<meta property="og:site_name" content="Awlad TV | تلفزيون الاطفال" />
		<meta property="og:image" content="https://www.awlad.tv/apple-icon-180x180.png" />
		<meta property="al:android:url" content="https://www.awlad.tv" />
	<% } %>
	
	<meta property="al:ios:url" content="https://www.awlad.tv" />
	<meta property="al:ios:app_store_id" content="1380666693" />
	<meta property="al:ios:app_name" content="Awlad TV" />
	
	
	<meta property="al:android:package" content="com.mandoma.awladtv2" />
	<meta property="al:android:app_name" content="Awlad TV">
	
    <title>Awlad TV</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/safe_tv.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Organization","url":"https:\/\/www.awlad.tv\/","sameAs":["https://www.facebook.com/%D8%AA%D9%84%D9%81%D8%B2%D9%8A%D9%88%D9%86-%D8%A7%D9%84%D8%A7%D8%B7%D9%81%D8%A7%D9%84-1826675457578514/"],"@id":"#organization","name":"ِAwlad TV | تلفزيون الاطفال","logo":"https:\/\/www.awlad.tv\/apple-icon-152x152.png"}</script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
		google_ad_client: "ca-pub-3603678963695750",
		enable_page_level_ads: true
	  });
	</script>
	<script src="/js/form-validation.js"></script>
	<script src="//cdn.kidoz.net/core/interstitial/web2.0.0.js" async type="text/javascript"></script>
	<script type="text/javascript">
	window.KidozInterstitialAsyncInit = function () {
    
    	var interstitial = window.KidozInterstitial.init({publisherID: 13543, accessToken: "FZJx60csKU9h01WgRVv1GhLrKIRDStFs"})();
		
        interstitial.addEventListener('ready', function () {
            //interstitial.load();
		});
        
        interstitial.addEventListener('loaded', function () {
			//interstitial.show();
		});
    }
	</script>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121309104-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-121309104-1');

      var trackOutboundLink = function(event, label) {

                console.log(event + " : " + label);
                var details = {};
                details["event_category"] = "link_click";
                details["event_label"] = label;
                details["event_callback"] = function(){};
                gtag("event", event, details);
              }
	</script>
	
	
	
</head>

<body>
	<div class="container">
        <%- include('partials/navbar') %>
		<div id="dl_app_alert" class="alert alert-info alert-dismissible rtl" style="display:none;margin-top: 10px;">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  للمشاده باكثر نجاعه قم بتزيل التطبيق.<br> <a href='https://play.google.com/store/apps/details?id=com.mandoma.awladtv2&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' onclick="trackOutboundLink('download_android_app','mobile_browser_suggestion'); return true;" style="height: 60px;" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
		  <br><a href="awladtv://www.awlad.tv" target="_blank"> او اضغط هنا</a> ان كان لديك التطبيق. 
		</div>
		<% if(typeof notice != "undefined") { %>
		<div style="margin-top:10px;" class="alert rtl alert-<% if(typeof notice_type != "undefined") { %><%= notice_type %><% } else{ %>success<% } %>">
		  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		  <%- notice %>
		</div>
		<% } %>
		
		<% if(typeof isThereNewNotification != "undefined" && isThereNewNotification == "true") { %>
		<div style="margin-top:10px;" class="alert rtl alert-warning">
		  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		  توجد اشعارات غير معالجة.
		</div>
		<% } %>		
		
		
	
		<div class="content_holder">
		<% if(typeof show_sidebar != "undefined") { %>
			<div class="sidebar">
				<%- category_widget %>
				<%- info_widget %>
				<div class="sidebar_widget"><div class="sidebar_widget_title">اخر التجديدات</div>
				<center>
					<iframe src="https://www.facebook.com/plugins/page.php?href=http%3A%2F%2Fwww.facebook.com%2F1826675457578514&tabs=timeline&width=300&height=600&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=129216317772853" width="300" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
				</center>
				</div>
			</div>
		<% } %>	
		<% if(typeof show_sidebar != "undefined") { %>
			<div class="main_content">
		<% }else{ %>
			<div class="main_content" style="width:100%;">
		<% } %>
		<%- body %>
		</div>

		</div>
		
		
		<div class="question_iframe">
			<div class="alert alert-info alert-dismissible rtl">
				<a href="#" class="close_left" data-dismiss="alert" aria-label="close">&times;</a>
				<div style="padding-bottom: 10px;">للاستفسار</div>
				<form method="post" action="/report" id="report_form">
					<input class="question_input" type="text" id="email" name="email" placeholder="البريد الالكتروني">
					<textarea class="question_input" rows="4" cols="50" name="body" id="body" placeholder="السوال"></textarea>
					<input type="submit" class="web_button" name="submit" value="ارسل">
				</form>
			</div>
		</div>
		
		
	    <%- include('partials/footer') %>

    </div>
</body>
<script>

$(document).ready(function(){
	if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
	 $("#dl_app_alert").css("display","block");
	 $(".only_web").css("display","none"); 
	 $(".question_input").attr("cols","30"); 
	}
	if( /ios_app/i.test(navigator.userAgent) ) {
	 $("#dl_app_alert").css("display","none");
	 $(".only_web").css("display","none"); 
	 $(".question_input").attr("cols","30");
	 $(".no_ios_app").css("display","none"); 
	}
});



</script>
</html>
