		<style>
			@media screen and (max-width: 1060px) {
						td:nth-of-type(1):before { content: "Playlist Name"; }
						td:nth-of-type(2):before { content: "Youtube Playlist id"; }
						td:nth-of-type(3):before { content: "Playlist id"; }
						td:nth-of-type(4):before { content: "Create Date"; }
			}
		</style>		
        <div class="page_header_container">
            <h1><%= title %></h1>
            <p class="lead">With this page you can manage Playlists.</p>
        </div>

		
		<div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                  <!-- loop over blog posts and render them -->

                    <table class="table table-bordered" style="width:100%">
                       <tr>
                          <th>Playlist Name</th>
                          <th>Youtube Playlist id</th>  
						  <th>Playlist id</th>  
                          <th>Create Date</th>
                       </tr>

                       <% for (var i = 0; i < playlists.length; i++) { %>
                        <tr>

                          <td><%= playlists[i].playListName %></td>

						  <td><%= playlists[i].playListId %></td>
						  
                          <td><%= playlists[i]._id %></td>

                          <td><%= playlists[i].createDate %></td>
	
                        </tr>
                       <% } %>
                    </table>
                </div>
            </div>
        </div>
		
		
        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
									  
					<form method="post" action="" class="col-md-6" id="add_playlist_form"> 
						<fieldset>

							<!-- Form Name -->
							<legend>Create PlayList</legend>

							<div class="form-group">
								<label for="TestType">Fill required data, leave empty if not sure about the field.</label>
								<br>
								<div > 
									<label class="field_label">ID**</label>
									<input type="text" name="_id" placeholder="blank on create" id="_id" value="" >
									<br>
									<label class="field_label">YU ID***</label>
									<input type="text" name="playlistId" placeholder="blank if not yt playlist" id="playlistId" value="" >
									<br>
									<label class="field_label">Playlist Name*</label>
									<input type="text" name="playListName" id="playListName" value="" >
									<br>
									<input type="hidden" name="type" value="playlist">
									<input type="hidden" name="deviceId" value="<%= fb_id %>">
								</div>
							</div>
						</fieldset>
						<input type='submit' class="btn" id='submit' value='Submit/Update Playlist'/>
						<br>
						<small>
						* required field<br>
						** if you plan to modify name of currently available playlist on this website, you need to specify the id for the playlist(Playlist id from the table above).<br>
						*** if you added a playlist directly from youtube, and you want to give that playlist a name, you need to specify the youtube playlist id here for modification(Youtube Playlist id from the table above).
						</small>
					</form>
					
					<form method="post" action=""  class="col-md-6" id="add_video_form"> 
						<fieldset>

							<!-- Form Name -->
							<legend>Add Video to Playlist</legend>

							<div class="form-group">
								<label for="TestType">Fill required data, leave empty if not sure about the field.</label>
								<br>
								<div> 
									<label class="field_label">Video _id*</label>
									<input type="text" name="id" id="id" value="" ><br>
									<label class="field_label">Playlist _id*</label>
									<input type="text" name="playlist_id" id="playlist_id" value="" >
									<input type="hidden" name="type" value="video">
									<input type="hidden" name="deviceId" value="<%= fb_id %>">
								</div>
							</div>
						</fieldset>
						<input type='submit' class="btn" id='submit' value='Add Video'/>
					</form>
                </div>
            </div>
        </div>

