	
        <div class="content rtl">
            <h2 class="title"><%= title %></h2>
			<% if (author) { %>
            <p>by <a href="#"><%= author %></a></p>
			<% } %>
            <p><%- post_body %></p>
            
        </div>
		<% if (isAdmin) { %>
		<div>
			<form action="/update_post_page" method="post">
				<input type="hidden" name="post_page" value="<%= post_page %>">
				<input type="submit" class="btn" name="submission" value="Edit Post">
			</form>					
		</div>
		<% } %>
