		<style>
@media screen and (max-width: 1060px) {
			td:nth-of-type(1):before { content: "Video Link"; }
			td:nth-of-type(2):before { content: "Video Title"; }
			td:nth-of-type(3):before { content: "Video Creator"; }
			td:nth-of-type(4):before { content: "Create Date"; }
			td:nth-of-type(5):before { content: "Update"; }
}			
		</style>
        <div class="page_header_container">
            <h1><%= title %></h1>
            <p class="lead">This page contains all the personal videos that were shared from youtube to the app by users, you can go through them and update category so it can become visible for all users aswell.</p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                  <!-- loop over blog posts and render them -->

                    <table class="table table-bordered" style="width:100%">
                       <tr>
                          <th>Video Link</th>
                          <th>Video Title</th>
						  <th>Video Creator</th>
                          <th>Create Date</th>
						  <th>Update</th>
                       </tr>

                       <% for (var i = 0; i < reports.length; i++) { %>
                        <tr id="<%= i %>">

                          
                          <td><a target="_blank" href ="https://www.youtube.com/watch?v=<%= reports[i].youtubeVideoId %>"><%= reports[i].youtubeVideoId %></a></td>

                          <td><%= reports[i].title %></td>
                          <td><%= reports[i].creator %></td>
						  <td><%= reports[i].createDate %></td>
                          
                          <td>
							  <form method="post" action="" onsubmit="return updateVideoCategory(event,this,<%= i %>);" >
								  Category:
								  <select id="cat<%= i %>" name="category">
									  <option value="Personal">Personal</option>
									  <option value="Music">Music</option>
									  <option value="Documentary">Documentary</option>
									  <option value="Cartoon">Cartoon</option>
									  <option value="Movie">Movie</option>
									  <option value="Story">Story</option>
									  <option value="unCategorized">unCategorized</option>  
								  </select>
								  <br>Gender:
								  <select id="gender<%= i %>" name="gender">
									  <option value="Both">Both</option>
									  <option value="Male">Male</option>
									  <option value="Female">Female</option> 
								  </select>
								  <input type="hidden" id="id<%= i %>" name="videoId" value="<%= reports[i].youtubeVideoId %>">
								  <input type="submit" class="btn" name="submition" value="Update">
							  </form>
						  </td>
						  
						  
						  
						  
						  
						  
						  
                        </tr>
                       <% } %>
                    </table>
                </div>
            </div>
        </div>
<script>
  function updateVideoCategory(event,button,id) {
		    event.preventDefault(); 

			video_order = id;
			var video_id = $('#id' + id).val();
			var cat = $('#cat' + id).val();
			var gender = $('#gender' + id).val();
			console.log("video_id: " +video_id);
			console.log("cat: " +cat);

		  	var ajax_url = document.URL;
		  	button.value = "Loading";
		  	var data = {};

		  	data["videoId"] = video_id;
			data["category"] = cat;
			data["gender"] = gender;
		  	$.post(ajax_url, data, function(result){
		  		$('#' + id).css("display","none");
				
		  		});
		 			  	
	  
  };
</script>
