
        <div class="content">
            <h2 class="title"><%= title %></h2> 
			<button class="hide_bars web_button only_web" title='.لاخفاء الهوامش TAB باستطاعتك الضغط على ' onclick="showOnlyVideoAndSuggestions();">التصفح بدون هوامش</button> 
			<div class="fb-share-button" 
				data-href="https://www.awlad.tv/video/<%= _id %>" 
				data-layout="button_count">
			</div>

			
			
			<div class="vid-container" >
				<div id="player"></div>
			</div>
			<div class="video_details">			
				<% if (isAdmin) { %>
		<div class="postbox admin_panel">
			<h3 data-toggle="collapse" data-target="#admin_panel" >Admin Tools</h3>
			
			
			<div id="admin_panel" class="row collapse">
				<div class="col-lg-12">
					<div class="list-group">
						<label for="post_to_fb" class="list-group-item" >
							<button id="post_to_fb" onclick="post_to_fb()" style="display:none;"></button>
							Post to Facebook
						</label>
						<label for="deletebutton" class="list-group-item">
							<form action="/admin/videos/delete" method="post" >
								<input type="hidden" name="_id" value="<%= _id %>">
								<input id="deletebutton" style="display:none;width:100%;height:100%;" type="submit" name="submission" value="">
							</form>
							Delete This Video							
						</label>
					</div>
				</div>
			</div>
			
			<script>
			function post_to_fb(event){
				console.log(document.URL);
				var at_locale = "EAABvtNrERgsBAHhaf5us2vCB1nT28Lkd7C1NAP2wfY0Bbe0L2WmYspzuWoPOGed9KaO2ZA0finNcBA8H14LZA4HVkmP6uIbgKzzMRCTdvTik8eQvPjPiZB6QAtrGcqAxcDXfeqz8S2rpHSbivw9RxnHs0aMXdU6EUMh0mmBBOY3vL0KRlEf"; // perma
				var at_remote = "EAACd4xZCZCfQkBAPAxJZCHRwsBFVkBoEYFk6rZBOsvtnYeocxjbZAk51WKVuuBzMRo4i9s5VrXbjFC7JoFhKFpiAtykTHWqnH9VSz9eTYnMAaK5dNOBeqRJgWZBZBsK0rcJXuLZCp8KeAz8CZC8FY0Mr6OHyeOHSjLgZCIP2gqwNVYJQZDZD"; // 2 months
				var at = at_remote;
				if (location.protocol != 'https:')
				{
					at = at_locale;
				}
				var body = 'Watch this new cool video!!';
				FB.api('/me/feed', 'post', { "message": body,"link": "https://www.awlad.tv/video/<%= _id %>","access_token": at}, function(response) {
				  if (!response || response.error) {
					alert('Error occured' + JSON.stringify(response.error));
					
				  } else {
					alert('Post ID: ' + response.id);
				  }
				});
			}
			</script>

			
		</div>
		<% } %>
		
				<br>
				<a class="video_desc" href="#description" data-toggle="collapse">اظهر تفاصيل عن الفيديو</a>
				<p id="description" class="collapse" style="margin-left:10px;">الوصف: <%- description %></p>
				<button class="show_bars web_button" onclick="showBarsBack();" style="display:none;" >ارجع الهوامش</button> 
			</div>
			<script>
			  // 2. This code loads the IFrame Player API code asynchronously.
			  var tag = document.createElement('script');

			  tag.src = "https://www.youtube.com/iframe_api";
			  var firstScriptTag = document.getElementsByTagName('script')[0];
			  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

			  // 3. This function creates an <iframe> (and YouTube player)
			  //    after the API code downloads.
			  var player;
			  function onYouTubeIframeAPIReady() {
				player = new YT.Player('player', {
				  height: '390',
				  width: '640',
				  videoId: '<%= youtubeVideoId %>',
				  events: {
					'onReady': onPlayerReady,
					'onStateChange': onPlayerStateChange,
					'onError': onPlayerError
				  }
				});
			  }

			  // 4. The API will call this function when the video player is ready.
			  function onPlayerReady(event) {
				event.target.playVideo();
			  }
			  
			  function onPlayerError(event){
					console.log(JSON.stringify(event.target));
					
					if (event.data == 100 || event.data == 101 || event.data == 150){
						$.post("/videos/report",{videoId : "<%= _id %>",	deviceId : "web", errorReason: event.data} , function (response){
						
						});
					}
					
			  }

			  // 5. The API calls this function when the player's state changes.
			  //    The function indicates that when playing a video (state=1),
			  //    the player should play for six seconds and then stop.
			  var done = false;
			  function onPlayerStateChange(event) {
				console.log("player status change: " + event.data);
				if (event.data == 0) {
					console.log("window.location: " + window.location);
					console.log("hostname: " + new URL(window.location).hostname);
					var loc = new URL(window.location);
				    location.href = loc.protocol + "//" + loc.host + "/video/randomize"
				}
			  }
			  function stopVideo() {
				player.stopVideo();
			  }
			</script>				

        </div>

		
		<div id="myCarousel" class="related_carousel carousel slide carousel_mobile_height" data-ride="carousel" >
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<% for (var i = 0; i < videos.length; i++) { %>
					<li data-target="#myCarousel" data-slide-to="<% i %>" <% if (i == 0){ %>class="active"<% } %> ></li>				
				<% } %>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner carousel-inner-multiple">
				<% for (var i = 0; i < videos.length; i++) { %>
					<div class="item <% if (i == 0){%>active<% } %>">
							<div class="third_area carousel_mobile_height"><a href="/video/<%= videos[i]._id %>"><img src="<%= videos[i].picture_url %>" alt="<%= videos[i].title %>" class="img-responsive" style="width:320px;margin-left: auto;margin-right: auto;"></a></div>
					</div>
				<% } %>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			  <span class="sr-only">السابق</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			  <span class="sr-only">التالي</span>
			</a>		
			
		</div>
		<br>
		<script>
		var screenStatusIsFull = false;
		
		function getUrlParameter(sParam) {
			var sPageURL = decodeURIComponent(window.location.search.substring(1)),
				sURLVariables = sPageURL.split('&'),
				sParameterName,
				i;

			for (i = 0; i < sURLVariables.length; i++) {
				sParameterName = sURLVariables[i].split('=');

				if (sParameterName[0] === sParam) {
					return sParameterName[1] === undefined ? true : sParameterName[1];
				}
			}
		};
		function showOnlyVideoAndSuggestions(){
			$(".sidebar").css("display","none"); 
			$(".header").css("display","none");
			$(".question_iframe").css("display","none");
			$(".title").css("display","none");
			$(".fb-share-button").css("display","none");
			$(".hide_bars").css("display","none");
			$(".admin_panel").css("display","none");
			$(".video_desc").css("display","none");
			
			$(".show_bars").css("display","block");
			$(".show_bars").css("position","fixed");
			$(".show_bars").css("bottom","0px");
			$(".show_bars").css("right","0px");
			$(".show_bars").css("z-index","10");
			
			$(".vid-container").css("position","fixed");
			$(".vid-container").css("height","70%");
			$(".vid-container").css("padding-bottom","unset");
			
			$(".carousel").css("position","fixed");
			$(".carousel").css("bottom","10px");
			$(".carousel").css("width","100%");

			
			
			$(".content").css("padding-right","unset");
			$(".content").css("padding-left","unset");
			$(".container").css("padding-right","unset");
			$(".container").css("padding-left","unset");
			
			$("body").css("padding-top","0px");
			$(".third_area > a").attr("href", function(i, href) {
			  return href + '?bars=hidden';
			});
			screenStatusIsFull = true;
		}
		
		function showBarsBack(){
			$(".sidebar").css("display","block"); 
			$(".header").css("display","block");
			$(".question_iframe").css("display","block");
			$(".title").css("display","block");
			$(".fb-share-button").css("display","inline");
			$(".hide_bars").css("display","inline");
			<% if (isAdmin) { %>
			$(".admin_panel").css("display","block");
			<% } %>
			$(".video_desc").css("display","block");
			$(".show_bars").css("display","none");
			
			
			$(".vid-container").css("position","relative");
			$(".vid-container").css("height","0");
			$(".vid-container").css("padding-bottom","65%");
			
			$(".carousel").css("position","relative");
			$(".carousel").css("bottom","unset");
			$(".carousel").css("width","unset");

			
			
			$(".content").css("padding-right","20px");
			$(".content").css("padding-left","20px");
			$(".container").css("padding-right","45px");
			$(".container").css("padding-left","45px");
			
			$("body").css("padding-top","20px");
			
			$(".third_area > a").attr("href", function(i, href) {
			  return href.substring(0,href.length-12);
			});
			screenStatusIsFull = false;
		}
		
		$('.carousel .item').each(function(){
		  var next = $(this).next();
		  if (!next.length) {
			next = $(this).siblings(':first');
		  }
		  next.children(':first-child').clone().appendTo($(this));
		  
		  if (next.next().length>0) {
			next.next().children(':first-child').clone().appendTo($(this));
		  }
		  else {
			$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
		  }
		});

		$(document).ready(function(){
			if( /Android|Opera Mini/i.test(navigator.userAgent) ) {
				window.location = 'intent:/'+$("meta[property='al:android:url']").attr("content").split(':/')[1]+'#Intent;package='+$("meta[property='al:android:package']").attr("content")+';scheme='+$("meta[property='al:android:url']").attr("content").split(':/')[0]+';launchFlags=268435456;end;';
			}
			
			if (getUrlParameter("bars") == "hidden"){
				showOnlyVideoAndSuggestions();
			}
			
			/*
				if(has_appli) {
				  window.location = $("meta[property='al:ios:url']").attr("content") || $("meta[property='al:android:url']").attr("content");

				  setTimeout(function() {
					// If the user is still here, open the App Store
					if (!document.webkitHidden) {
					  window.location = 'http://itunes.apple.com/app/id' + $("meta[property='al:ios:app_store_id']").attr("content");
					}
				  }, 25);
				} else {
					window.location = 'http://itunes.apple.com/app/id'+$("meta[property='al:ios:app_store_id']").attr("content");
				}

			*/
			
			
			
			
		});
		
		function toggleFullScreen() {
		  if (!document.mozFullScreen && !document.webkitFullScreen) {
			if (document.mozRequestFullScreen) {
			  document.mozRequestFullScreen();
			} else {
			  document.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
			}
		  } else {
			if (document.mozCancelFullScreen) {
			  document.mozCancelFullScreen();
			} else {
			  document.webkitCancelFullScreen();
			}
		  }
		}

		document.addEventListener("keydown", function(e) {
		  if (e.keyCode == 9) {
			  if (screenStatusIsFull){
				showBarsBack();
			  }else
				showOnlyVideoAndSuggestions();
			toggleFullScreen();
		  }
		}, false);

		
		
		</script>