
        <div class="page_header_container">
            <h1><%= title %></h1>
            <p class="lead">This page contains all fb users that logged to the website, you can give them admin status.</p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                  <!-- loop over blog posts and render them -->

                    <table class="table table-bordered" style="width:100%">
                       <tr>
                          <th>FB ID</th>
                          <th>FB Name</th>
						  <th>Device Id</th>
                          <th>Create Date</th>
						  <th>Update Access</th>
                       </tr>

                       <% for (var i = 0; i < fbusers.length; i++) { %>
                        <tr>

                          <td><%= fbusers[i].fb_id %></td>
                          <td><%= fbusers[i].fb_user %></td>
                          <td><%= fbusers[i].device %></td>
						  <td><%= fbusers[i].createDate %></td>
                          
                          <td>
							  <form method="post" action="" >
								  <select name="reqAccess" value="<% if (fbusers[i].isAdmin){ %>True<% } %>" >
									  <option value="false">False</option>
									  <option value="true" <% if (fbusers[i].isAdmin){ %>selected="selected"<% } %> >True</option>
								  </select>							  
								  <input type="hidden" name="fb_id" value="<%= fbusers[i].fb_id %>">
								  <input type="submit" class="btn" name="submition" value="Update Access">
							  </form>
						  </td>

                        </tr>
                       <% } %>
                    </table>
                </div>
            </div>
        </div>

