		<style>
			@media screen and (max-width: 1060px) {
						td:nth-of-type(1):before { content: "User Email"; }
						td:nth-of-type(2):before { content: "Question"; }
						td:nth-of-type(4):before { content: "Create Date"; }
						td:nth-of-type(5):before { content: "Actions"; }
			}
		</style>
        <div class="page_header_container">
            <h1><%= title %></h1>
            <p class="lead">User Questions are listed in this Page.</p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                  <!-- loop over blog posts and render them -->
					<p>New Questions</p>
                    <table class="table table-bordered" style="width:100%">
                       <tr>
                          <th>User Email</th>
                          <th>Question</th>  
                          <th>Create Date</th>
						  <th>Actions</th>
                       </tr>

                       <% for (var i = 0; i < unread_reports.length; i++) { %>
                        <tr>

                          <td><a target="_blank" href="mailto:<%= unread_reports[i].email %>"><%= unread_reports[i].email %></a></td>

                          <td><%= unread_reports[i].body %></td>

                          <td><%= unread_reports[i].createDate %></td>
						  
                          <td>
							  <form method="post" action="" >
								  <input type="hidden" name="id" value="<%= unread_reports[i]._id %>">
								  <input type="hidden" name="deviceId" value="<%= fb_id %>">
								  <input type="submit" class="btn" name="submition" value="Mark Handled">
							  </form>
						  </td> 
                        </tr>
                       <% } %>
                    </table>
					<p>All Questions</p>
					<table class="table table-bordered" style="width:100%">
                       <tr>
                          <th>User Email</th>
                          <th>Question</th>  
                          <th>Create Date</th>
                       </tr>

                       <% for (var i = 0; i < reports.length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                        <tr>

                          <td><a target="_blank" href="mailto:<%= reports[i].email %>"><%= reports[i].email %></a></td>

                          <td><%= reports[i].body %></td>

                          <td><%= reports[i].createDate %></td>

                        </tr>
                       <% } %>
                    </table>
                </div>
            </div>
        </div>

