
        <div class="page_header_container under_header">
            <h1>فيديوهات في مجال ال<%= cat_name %></h1>
        </div>
		<p id="title" class="rtl"></p>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<% for (var i = 0; i < videos.length; i++) { %>
					<li data-target="#myCarousel" data-slide-to="<% i %>" <% if (i == 0){ %>class="active"<% } %> ></li>				
				<% } %>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<% for (var i = 0; i < videos.length; i++) { %>
					<div class="item <% if (i == 0){%>active<% } %>">
						<a href="https://www.awlad.tv/video/<%= videos[i]._id %>"><img src="<%= videos[i].picture_url %>" alt="<%= videos[i].title %>" class="carousel_img"></a>
						<div class="title_data" style="display:none;" ><%= videos[i].title %></div>
					</div>
					
				<% } %>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			  <span class="sr-only">السابق</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			  <span class="sr-only">التالي</span>
			</a>		
		</div>		


<script>
$('#title').html($('.carousel-inner > .active > .title_data').html());
$('.carousel').on('slid.bs.carousel', function () {
  	$('#title').html($('.carousel-inner > .active > .title_data').html());
	});
</script>
