		<%- joke_widget %>
        <div class="page_header_container under_header">
            <h1>كل شيء عن تلفزيون الاطفال</h1>
            <p class="lead">اترك اولادك لمشاهدة الفيديوهات بامان!</p>
        </div>

		<ul class="nav nav-tabs tab_nav">
		  <li class="active"><a data-toggle="tab" href="#rec">الفيديوهات المقترحه</a></li>
		  <li><a data-toggle="tab" href="#most">الفيديوهات الاكثر مشاهده</a></li>
		  <li><a data-toggle="tab" href="#new">الفيديوهات الحديثه</a></li>
		</ul>
		
	  <div class="tab-content rtl">
		<div id="rec" class="tab-pane fade in active">
		  <h3>الفيديوهات المقترحه</h3>
		  <div id="myCarousel" class="carousel slide" data-ride="carousel" >
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<% for (var i = 0; i < videos.length; i++) { %>
					<li data-target="#myCarousel" data-slide-to="<% i %>" <% if (i == 0){ %>class="active"<% } %> ></li>				
				<% } %>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<% for (var i = 0; i < videos.length; i++) { %>
					<div class="item <% if (i == 0){%>active<% } %>">
							<div class=""><a href="/video/<%= videos[i]._id %>"><img src="<%= videos[i].picture_url %>" alt="<%= videos[i].title %>"  class="image_center" ></a></div>
					</div>
				<% } %>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			  <span class="sr-only">السابق</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			  <span class="sr-only">التالي</span>
			</a>		
		  </div>	
		</div>
		<div id="most" class="tab-pane fade">
		  <h3>الفيديوهات الاكثر مشاهده</h3>
		  		  <div id="myCarousel2" class="carousel slide" data-ride="carousel" >
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<% for (var i = 0; i < most_videos.length; i++) { %>
					<li data-target="#myCarousel2" data-slide-to="<% i %>" <% if (i == 0){ %>class="active"<% } %> ></li>				
				<% } %>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<% for (var i = 0; i < most_videos.length; i++) { %>
					<div class="item <% if (i == 0){%>active<% } %>">
							<div class=""><a href="/video/<%= most_videos[i]._id %>"><img src="<%= most_videos[i].picture_url %>" alt="<%= most_videos[i].title %>"  class="image_center" ></a></div>
					</div>
				<% } %>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel2" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			  <span class="sr-only">السابق</span>
			</a>
			<a class="right carousel-control" href="#myCarousel2" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			  <span class="sr-only">التالي</span>
			</a>		
		  </div>
		</div>
		<div id="new" class="tab-pane fade">
		  <h3>الفيديوهات الحديثه</h3>
		  		  <div id="myCarousel3" class="carousel slide" data-ride="carousel" >
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<% for (var i = 0; i < new_videos.length; i++) { %>
					<li data-target="#myCarousel3" data-slide-to="<% i %>" <% if (i == 0){ %>class="active"<% } %> ></li>				
				<% } %>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<% for (var i = 0; i < new_videos.length; i++) { %>
					<div class="item <% if (i == 0){%>active<% } %>">
							<div class=""><a href="/video/<%= new_videos[i]._id %>"><img src="<%= new_videos[i].picture_url %>" alt="<%= new_videos[i].title %>"  class="image_center" ></a></div>
					</div>
				<% } %>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel3" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			  <span class="sr-only">السابق</span>
			</a>
			<a class="right carousel-control" href="#myCarousel3" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			  <span class="sr-only">التالي</span>
			</a>		
		  </div>
		</div>
	  </div>
			
		<div class="rtl articles_title" >مقالات</div>
        <div class="row">
            <div class="col-lg-12">
                <div class="list-group rtl">
                  <!-- loop over blog posts and render them -->
                  <% posts.forEach((post) => { %>
                    <a href="/post/<%= post.post_page %>" class="list-group-item">
                      <h4 class="list-group-item-heading"><%= post.post_title %></h4>
					  <% if (post.author && post.author.fb_user){ %>
                      <p class="list-group-item-author"><%= post.author.fb_user %></p>
					  <% } %>
					  <div class="list-group-item-text max_text_desc"><%- post.body %></div>
					  <div class="view_more_post" >للمزيد...</div>
                    </a>
                  <% }) %>
                </div>
            </div>
        </div>
		<% if (isAdmin) { %>
		<div>
			<form action="/create_new_post_page" method="get">
				<input type="submit" class="btn" name="submission" value="Create new Post">
			</form>
					
		</div>
		<% } %>


